///// NAVIGATION /////
.navbar-default {
  background-color: #fff;
  margin-bottom: 0;

  #home {
    color: $yellow
  }

}

.navbar-brand {
    padding: 5px 5px;
    img {
      width: 250px;
    }
}

ul.nav.navbar-nav.navbar-right {

  a {
    display: inline-block;
    margin: 1.9rem 0;
    padding: 1.5em;
    color: $headerNavColor;
    font-weight: 500;

    &.active {
      color: $brand-primary;
    }

    &:hover {
      text-decoration: none;
    }
  }

  li {
    &.user-img {
      .avatar {
        border-left: 1px solid $headerNavColor;
      }
      .avatar {
        img {
          display: inline-block;
          max-height: 40px;
          max-width: 40px;
          margin-right: 0.2rem;
        }
      }
      a {
        padding: .8em;
        color: $highLighted;
        font-weight: 600;
        display: inline-block;
      }
    }
  }
}


.navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $yellow;
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 850px) {
  .navbar-brand {
    padding: 5px 5px;
    img {
      max-width: 150px;
    }
  }

  ul.nav.navbar-nav.navbar-right {

    a {
      display: inline-block;
      margin: .7rem 0;
      padding: .2em;
      color: $headerNavColor;

      &.active {
        color: $brand-primary;
      }

      &:hover {
        text-decoration: none;
      }
    }

    li {
      &.user-img {
        display:none;
        .avatar {
          border-left: none;
        }
        a {
          padding: .3em;
          color: $highLighted;
          font-weight: 600;
          display: inline-block;
        }
      }
    }
  }
}

