///// NAVIGATION /////
.navbar-default {
  background-color: #fff;

  #home {
    color: $yellow
  }

}

.navbar-brand {
    padding: 5px 5px;
    img {
      width: 250px;
    }
}

ul.nav.navbar-nav.navbar-right {

  a {
    display: inline-block;
    padding: 1.5em 1em;
    color: $headerNavColor;

    &.active {
      color: $brand-primary;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .avatar {
    border-left: 1px solid $headerNavColor;
    padding: 1em;
    color: $highLighted;
    img {
      display: inline-block;
      max-height: 40px;
      max-width: 40px;
      margin-right: 0.2rem;
    }
  }

}


.navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $yellow;
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 850px) {
  .navbar-brand {
    padding: 5px 5px;
    img {
      max-width: 150px;
    }
  }

  ul.nav.navbar-nav.navbar-right {

    a {
      margin: .7rem 0;
      padding: .2em 1em;
    }
    .avatar {
      border-left: none;
      color: $highLighted;
      padding: .2em 1em;
    }

  }
}

